.list img {
    height: 100px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.product {
    margin: 20px;
}